.counter{
    display: flex;
    justify-content: center;
    font: 40px white;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(2, 1, 65);
}
.butcon{
    width: 70%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.but{
    height: 100px;
    width: 300px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: .5s;
    font-size: 20px;
}
.but:hover{
    background-color: white;
    color: black;
}